<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <br>
<!--      <button mat-raised-button color="primary" (click)="placeOrder()">Place Order</button>-->
      <input class="btn btn-success" type="submit" name="submit_reg" value="Place Order" (click)="placeOrder()">
      <form>
        <fieldset>
          <br>


          <div class="form-group">
            <label for="bootstrap-css"><span class="req">* </span> Description </label>
            <br>
            <select class="form-control" name="category" [(ngModel)]="orderDetail.productCode">
              <option *ngFor="let product of products; let i = index" [value]="products[i].code">
                {{products[i].description}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="Name"><span class="req">* </span> Quantity: </label>
            <input required type="text"  name="name" id="name" [(ngModel)]="orderDetail.quantity"
                   class="form-control phone" maxlength="28" placeholder="Enter Quantity" />
          </div>

          <div class="form-group">
            <button mat-raised-button color="primary" (click)="addOrderDetails();addDetail();">Add</button>
          </div>
          <div class="form-group">
<!--            <button mat-raised-button color="primary" (click)="savePayment();goToPage('payment')" >View Payment</button>-->
          </div>
        </fieldset>
      </form>
    </div>



    <div class="container text-right">
      <div class="row col-md-8 ">
        <div class="container text-right">
          <br>

        </div>
        <table class="table table-striped custab">
          <thead>
          <tr>
            <th class="text-center">Code</th>
            <th class="text-center">Quantity</th>

            <th class="text-center">Unit Price</th>
            <th class="text-center">Order ID</th>
            <th class="text-center">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let orderDetail of orderDetails">
            <td class="text-center">{{orderDetail.productCode}}</td>
            <td class="text-center">{{orderDetail.quantity}}</td>
             <td class="text-center">>{{orderDetail.orderId}}</td>
            <td class="text-center">{{orderDetail.price}}</td>
            <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteUser(user.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
          </tr>
          <tr>
            <th class="text-center">Total Amount</th>
            <td>{{total}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

</div>

</div>
